body {
  font-family: sans-serif;
}
.wrap {
  text-align: center;
  width: 786px;
  margin: 0 auto;
}
nav {
  background-color: red;
  text-align: center;
  margin-top: 0;
}
a {
  padding: 30px;
  text-decoration: none;
  color: white;
}
